<div class="nav-container">
  <p-tabs [(value)]="activeItem" class="custom-navbar">
    <p-tablist class="nav-list">
      <p-tab value="home" class="nav-item">
        <i class="pi pi-home"></i> 
        <span>Home</span>
      </p-tab>

      <p-tab value="sobre" class="nav-item">
        <i class="pi pi-user"></i> 
        <span>Sobre</span>
      </p-tab>

      <p-tab value="história" class="nav-item">
        <i class="pi pi-history"></i> 
        <span>História</span>
      </p-tab>
      
      <p-tab value="projetos" class="nav-item">
        <i class="pi pi-code"></i> 
        <span>Projetos</span>
      </p-tab>
      
    </p-tablist>
    
    <p-tabpanels class="content-area">
      <p-tabpanel value="home">
        <app-home></app-home>
      </p-tabpanel>

      <p-tabpanel value="sobre">
        <app-sobre></app-sobre>
      </p-tabpanel>

      <p-tabpanel value="história">
        <app-history></app-history>
      </p-tabpanel>

      <p-tabpanel value="projetos">
        <app-projects></app-projects>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>