<div class="container">
 <p-card class="mb-4" [style]="{width: 'auto'}">
    <p class="titulo">Habilidades Técnicas</p>
    <p class="skills">
      Desenvolvedor Full Stack Júnior | .NET | Entity Framework Core 8.0 | TypeScript | JavaScript | Angular | 
      SQL Server | Git
    </p>
  </p-card>

  <p-card class="mb-4 ">

    <div class="titulo">Habilidades Técnicas</div>
    <div class="about">
  <p>
    Desenvolvedor Júnior e Analista de Sistemas com experiência em gerenciamento de tickets e desenvolvimento 
    de soluções personalizadas. Atuo na resolução de demandas internas, garantindo comunicação eficiente entre 
    os setores e a equipe de desenvolvimento.
  </p>

  <p>
    Recentemente, venho contribuindo no desenvolvimento de novos sistemas para otimizar processos e aumentar a 
    eficiência do portal da empresa, sempre alinhado às melhores práticas sob orientação de profissionais mais 
    experientes.
  </p>

  <p>
    Proficiente em análise de problemas, implementação de soluções e desenvolvimento de software utilizando C#, 
    JavaScript, TypeScript, Angular e SQL Server, com foco em qualidade e resultados.
  </p>
</div>
  </p-card>
</div>