<div class="container">
  <img src="assets/tom.jpg" alt="Minha foto" class="profile-pic" />

  <p-card header="Minhas Habilidades" class="mb-4">
    <p class="skills">
      Full Stack Junior Developer | .NET | Typescript | JavaScript | Angular |
      SQL Server | Git
    </p>
  </p-card>

  <p-card header="Habilidades Técnicas" class="mb-4">
    <div class="about">
      <p>
        Desenvolvedor Júnior e Analista de Sistemas com experiência no
        gerenciamento de tickets e desenvolvimento de soluções personalizadas.
        Responsável por tratar e resolver tickets abertos por áreas internas,
        facilitando a comunicação entre setores e a equipe de desenvolvimento.
      </p>

      <p>
        Recentemente, comecei a desenvolver novos sistemas para melhorar
        processos e a eficiência do portal da empresa, sempre sob a orientação
        de desenvolvedores mais experientes.
      </p>

      <p>
        Proficiente na análise de problemas, implementação de soluções e
        desenvolvimento de software utilizando tecnologias como C#, JavaScript,
        TypeScript, Angular e SQL Server.
      </p>
    </div>
  </p-card>
</div>
