<div class="container">
    <p-card header="Sobre Mim" class="mb-4 header" [style]="{width: '1377px'}">
        <div class="sobre-container">
            <img src="assets/wellington.png" (click)="showModal = true" alt="Minha foto" class="sobre-foto" />

            <div class="sobre-info">
                <h2>Wellington Vaz Xavier</h2>
                <p><strong>Idade:</strong> 38 anos</p>
                <p><strong>Formação:</strong> Tecnólogo em Análise e Desenvolvimento de Sistemas — cursando o 3º semestre</p>
                <p><strong>Cidade:</strong> São Paulo - SP</p>
                <p><strong>Resumo:</strong> Desenvolvedor Júnior apaixonado por tecnologia, focado em soluções web com .NET, Angular, TypeScript e SQL Server. Buscando sempre aprendizado contínuo e desafios.</p>
            </div>
        </div>

        <div class="actions">
        <i 
            class="pi pi-file-pdf pdf-btn" 
            (click)="downloadPdf()" 
            style="font-size: 1.5rem; cursor: pointer;"></i>

        <i 
            class="pi pi-github github-btn" 
            (click)="abrirLink('https://github.com/WellingtonVXavier')" 
            style="font-size: 1.5rem; cursor: pointer;"></i>

        <i 
            class="pi pi-linkedin linkedin-btn" 
            (click)="abrirLink('https://www.linkedin.com/in/wellington-vaz-xavier-091809220/')" 
            style="font-size: 1.5rem; cursor: pointer;"></i>
        </div>



        <div class="contato">
            <span>Transforme sua ideia em um projeto digital de sucesso. Fale comigo!</span>
            <a href="mailto:toomvxavier@outlook.com" class="contact-btn">
                <i class="pi pi-envelope"  style="color: #b3b3b3; font-size: 25px; text-transform: none;"></i>
            </a>

            <div class="actions">
                <div>
                    <a
                    href="https://api.whatsapp.com/send?phone=5511919404938&text=Olá%20Lucas,%20gostaria%20de%20saber%20mais%20sobre%20seu%20trabalho!"
                    target="_blank"
                    rel="noopener noreferrer"
                    >
                        <i
                        class="pi pi-whatsapp"
                        style="color: #25d366; font-size: 25px"
                        pTooltip="Whatsapp"
                        tooltipPosition="left" 
                        ></i>
                    </a>
                </div>
            </div>
        </div>
    </p-card>

    <!-- Modal foto -->
    <div class="photo-modal" *ngIf="showModal" (click)="showModal = false">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <img src="assets/wellington.png" alt="Minha foto grande" />
        </div>
    </div>
</div>
