.container {
  position: relative;
  padding: 2rem;
  min-height: 300px;
}

.sobre-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.header {
  display: flex;
}

.sobre-foto {
  width: 150px;
  height: 165px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.sobre-foto:hover {
  transform: scale(1.05);
}

.sobre-info {
  flex: 1;
  font-size: 1rem;
  line-height: 1.6;
}

/* Modal overlay */
.photo-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Conteúdo do modal */
.photo-modal .modal-content {
  padding: 1rem;
  border-radius: 8px;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Foto grande */
.photo-modal img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 50%;
}

.contato {
  position: fixed;
  bottom: 1rem;
  right: 1.9rem;
  padding: 1rem;
  background-color: #1f2937;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  max-width: 800px;
  font-size: 0.95rem;
  z-index: 1000;
}

a {
  text-decoration: none;
}

.contato span {
  flex: 1;
  line-height: 1.4;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 12px;

  i {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .pdf-btn {
    background-color: #d32f2f;
  }

  .github-btn {
    background-color: #000;
  }

  .linkedin-btn {
    background-color: #0077b5;
  }
}

