<div class="main-container">
    <header class="hero-section">
        <div class="nebula-glow"></div>

        <div class="content-wrapper">
            <h1>Olá, eu sou o <span>Wellington Vaz Xavier</span></h1>
            <p class="subtitle">Desenvolvedor Júnior & Entusiasta de Tecnologia</p>
            <p class="tagline">Unindo lógica e código, sigo criando soluções eficientes.</p>
        </div>
    </header> 

    <section class="skills-section">
        <h2>Habilidades</h2>
        <div class="skills-grid">
            <div class="skill-card">
                <span class="skill-name">C#</span>
                <i class="devicon-csharp-plain"></i>
            </div>

            <div class="skill-card">
                <span class="skill-name">EF Core</span>
                <i class="devicon-dotnetcore-plain"></i>
            </div>

            <div class="skill-card">
                <span class="skill-name">Angular</span>
                <i class="devicon-angularjs-plain"></i>
            </div>

            <div class="skill-card">
                <span class="skill-name">SQL Server</span>
                <i class="devicon-microsoftsqlserver-plain"></i>
            </div>

            <div class="skill-card">
                <span class="skill-name">HTML5</span>
                <i class="devicon-html5-plain"></i>
            </div>

            <div class="skill-card">
                <span class="skill-name">CSS3</span>
                <i class="devicon-css3-plain"></i>
            </div>

            <div class="skill-card">
                <span class="skill-name">TypeScript</span>
                <i class="devicon-typescript-plain"></i>
            </div>
        </div>
    </section>
</div>