.projects-grid p-fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;

  padding: 16px;
  margin: 8px 0;

  transition: all 0.3s ease;
}

::ng-deep .p-fieldset .p-fieldset-legend {
  background: linear-gradient(135deg, #111827, #1f2937);
  color: #ffffff;
  border: 2px solid #22c55e;
  border-radius: 6px;

  padding: 6px 14px;
  font-weight: 600;

  box-shadow: 0 0 6px rgba(34, 197, 94, 0.4);
}

::ng-deep .p-fieldset-legend .p-fieldset-toggler {
  color: #22c55e;
}

::ng-deep .p-fieldset .p-fieldset-legend,
::ng-deep .p-fieldset .p-fieldset-legend * {
  color: #ffffff !important;
      margin-left: 5px;
}

.description {
  color: #d1d5db;
  margin-top: 10px;
  line-height: 1.5;
}

.footer {
  margin-top: 16px;
}

.project-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 8px;
  color: #22c55e;

  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;

  transition: all 0.3s ease;
}

/* Ícone */
.project-btn i {
  color: inherit;
}

.project-btn:hover {
  background: #22c55e;
  color: #fff;
  transform: scale(1.01);
  font-size: 19px;
}