@import "primeicons/primeicons.css";

/* =====================
   Tema Claro
===================== */
body.light {
  --background-color: #eaeeef;
  --text-color: #222222;
  --menubar-bg: #f0f0f0;
  --heading-color: #000000;
  --border-color: #ddd;
   --primary-color: #353535;

  background-color: var(--background-color);
  color: var(--text-color);
}

/* =====================
   Tema Escuro
===================== */
body.dark {
  --background-color: #414141;
  --text-color: #d6d6d6;
  --menubar-bg: #414141;
  --heading-color: #d6d6d6;;
  --border-color: #333;
  --primary-color: #cacaca;

  background-color: var(--background-color);
  color: var(--text-color);
}

/* =====================
   Reset básico e fontes
===================== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--heading-color);
}

/* =====================
   Tipografia
===================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  margin-top: 0;
}

/* =====================
   Menubar
===================== */
.custom-menubar {
  background-color: var(--menubar-bg);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 1px solid var(--border-color);
}

/* =====================
   Componentes genéricos
===================== */
button,
.p-button {
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover,
.p-button:hover {
  background-color: var(--menubar-bg);
}

/* Garantir herança em containers */
.container,
.content {
  color: var(--text-color);
}

/* =====================
   TabMenu com underline suave
===================== */

::ng-deep .p-tabmenu {
  box-shadow: none;
  border: none;
  background: transparent;
  padding: 0;
}

::ng-deep .p-tabmenu-nav {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
}

::ng-deep .p-tabmenu-nav li {
  position: relative;
  margin-right: 1rem;
}

::ng-deep .p-tabmenu-nav li a {
  color: var(--text-color);
  padding: 0.5rem 0;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* traço na aba ativa */
::ng-deep .p-tabmenu-nav li.p-highlight::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  transition: transform 0.3s ease;
}

/* limpa qualquer borda antiga */
::ng-deep .p-tabmenu-nav li.p-highlight a {
  border: none;
}

/* anima a mudança de posição */
::ng-deep .p-tabmenu-nav::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 0;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}
